body {
    font-family: Arial,  sans-serif; /* Font family */
    font-size: 12px; /* O tamanho da fonte principal<p></p> tag  */
    background-color: #000000; /* A cor do plano de fundo da página */
    color: #fdf8f8; /* A cor do texto */ 
}
h1 {
    color: #a80000; /* A cor do cabeçalho */
    font-size: 24px; /* A cor da fonte do cabeçalho */
    font-family: Georgia, serif; /* A font usada no cabeçalho*/
    text-align: center;
}
p {
    color: #ffffff; /* A cor do cabeçalho */
    font-size: 12px; /* A cor da fonte do cabeçalho */
    font-family: Georgia, serif; /* A font usada no cabeçalho*/
    text-align: center;
}
h2 {
    color: #ffffff; /* A cor do cabeçalho */
    font-size: 12px; /* A cor da fonte do cabeçalho */
    font-family: Georgia, serif; /* A font usada no cabeçalho*/
    text-align: left;
}